
.bcf_pppc_table_forms{
    border: 0;
    padding: 0px 0px 0px 0px;
}

.bcf_pppc_table_cell_form{
    border: 0;
    padding: 15px 0px 0px 0px;
}

.bcf_pppc_text_input{
    font-size: 1.4em;
    height:auto;
    background: #eee;
    color: #444;
    font-family: arial;
    border: 1px solid #aaa;
    width: 85% !important;
    padding:4px !important;
}

.bcf_pppc_label {
    text-transform: uppercase;
    text-align: left;
    vertical-align: middle;
    padding: 15px 10px 10px 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

input.bcf_pppc_button{
    background-color: #4D90FE !important;
    background-image: none !important;
    border: 1px solid #3079ED !important;
    color: #FFFFFF !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-size: 14px !important;
    font-family: arial;
    font-weight:bold;
    text-decoration: none;
    vertical-align: middle;
    cursor:pointer;
    padding: 5px 30px 5px 30px !important;
    margin:5px 0px;
    width:auto !important;
    height:2em !important;
}


.bcf_pppc_status_info{
    font-weight:bold;
}

.bcf_pppc_status_good{
    color: green;
    font-weight:bold;
}

.bcf_pppc_status_error{
    color: red;
    font-weight:bold;
}